<!-- Megyeri Márk Máté
      SZOFT II/N 
      2022.11.09
-->
<div class="container">
  <h1>Feladat 0303</h1>
  <h2>Gyepesítés</h2>
  <div class="grassForm">
    <div class="mb-3">
      <label for="" class="form-label" >Beviteli mező</label>
        <input type="text" class="form-control" [(ngModel)]="diameter">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Eredmény</label>
      <input type="text" class="form-control">
    </div>
  </div>
  <button class="btn btn-outline-warning"
  (click)="calArea()">Számít</button>
</div>